extends layout

block content
  .header
    h1 Edit Student
    a.btn.btn-ghost(href='/') ← Back

  .form-card
    form(action=`/edit/${student.id}?_method=PUT`, method='POST')
      .form-group
        label Name
        input(type='text', name='name', value=student.name, required)

      .form-group
        label Course
        input(type='text', name='course', value=student.course, required)

      .form-group
        label Marks
        input(type='number', name='marks', value=student.marks, required)

      .form-actions
        button.btn.btn-update(type='submit') Update Student
        a.btn.btn-ghost(href='/') Cancel
